// Styling for the footer
footer {
  background-color: #222222;
  color: white;
  text-align: center;
  padding: 20px;

  a {
    color: white;
  }

  .list-inline {
    margin: 0;
    padding: 0;
  }

  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;

    .ofsted {
        margin-left: 20px;
        width: 5% !important;
          @include respond-to(handhelds) {
            width: 15% !important;
          }
      }

    img {
      width: 10%;

      @include respond-to(handhelds) {
        width: 25%;
      }
    }
  }
}
