// Global styling for this template
body {
  font-size: 20px;
  color: $gray-900;
  @include serif-font;
}

p {
  line-height: 1.5;

  a:not(.btn) {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  @include sans-serif-font;
}

a {
  color: $secondary;
  @include transition-all;

  &:focus,
  &:hover {
    color: $primary;
  }
}

// .body-link {
//   position: relative;
//   z-index: 1;

//   &::before {
//     content: "";
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     bottom: 0;
//     left: -0.25em;
//     right: -0.25em;
//     background-color: $primary;
//     transform-origin: center right;
//     transform: scaleX(0);
//     transition: transform 0.5s ease-in-out;
//   }
//   &:hover {
//     color: white;
//   }
//   &:hover::before {
//     transform: scaleX(1);
//     transform-origin: center left;
//   }
// }

.nav blockquote {
  font-style: italic;
  color: $gray-600;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.jumbotron {
  background: no-repeat center center;
  @include background-cover;
}

ul {
  margin-left: 20px;
}

ol {
  margin-left: 20px;
}

#accordian .card {
  margin: 10px 0 10px 0;
}

.hooper-navigation {
  button {
    @include transition-all;
    background-color: $secondary;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.block-img img {
  width: 100%;
}
