@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger-box {
  width: 32px;
  &:focus {
    outline: none;
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: white;
}

.hamburger--spring.is-active .hamburger-inner::before {
  background-color: white;
}
.hamburger--spring.is-active .hamburger-inner::after {
  background-color: white;
}

.navbar-toggler:focus {
  outline: none;
}
