// Styling for the navbar
#mainNav {
  border-bottom: 1px solid $gray-200;
  border-bottom: 1px solid transparent;
  background: transparent;
  @include sans-serif-font;

  .navbar-brand {
    color: white;
    font-size: xx-large;
    font-family: Samarkan;
    font-weight: normal;
    font-style: normal;
  }

  .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: none;
  }

  .navbar-brand {
    padding: 10px 20px;
    color: $white;

    &:focus,
    &:hover {
      color: fade-out($white, 0.2);
    }
  }

  .navbar-nav {
    > li.nav-item {
      > a {
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 20px;
        color: $white;

        &:focus,
        &:hover {
          color: fade-out($white, 0.2);
        }

        &.router-link-exact-active {
          color: $secondary;
          border-bottom: 2px solid $secondary
        }
      }
    }
  }
}